{% extends "base.html" %}
{% load static %}

{% block javascript %}
<script src="{% static 'js/prism.js' %}" defer></script>
<script src="{% static 'js/copy_function.js' %}" defer></script>
{% endblock javascript %}

{% load widget_tweaks %}

{% block content %}

<div>
  <a class="f6 link dim br3 ba bw2 ph3 pv2 mb2 dib blue sans-serif" href={% url 'home_page' %}>Back to all snippets</a>
  <a class="copy f6 link dim br3 ba bw2 ph3 pv2 mb2 dib hot-pink sans-serif">Copy</a>
    <a class="f6 link dim br3 ba bw2 ph3 pv2 mb2 dib gold sans-serif" href="#1">Favorite</a>
  <article class="center mw5 mw7-ns hidden ba mv4">
    <h1 class=" f4 bg-near-black white tc mv0 pv2 ph3 courier">{{snippet.title}}</h1>
    <div class="pa3 bt flex items-center">
      <pre class="language-python mw8"><code>{{ snippet.text }}</code></pre>
    </div>
    <div class="pa3 bt flex items-center">
      <p class="f6 f5-ns lh-copy mv0 courier w-25 center">
        Description: 
      </p>
      <p class="f6 f5-ns lh-copy mv0 courier w-75">
        {{snippet.description}}
      </p>
    </div>
    <div class="pa3 ba flex">
      <p class="f6 f5-ns lh-copy mv0 courier w-25">
        Tags:
      </p>
      <p class="f6 f5-ns lh-copy mv0 courier w-75">
        {% for tag in snippet.tags.all %}
        {{ tag }}
        {% endfor %}
      </p>
    </div>
    <div class="pa3 ba flex">
      <p class="f6 f5-ns lh-copy mv0 courier w-25">
        Code:
      </p>
      <pre class="language-{{ snippet.language.slug }} mw8"><code>{{ snippet.text }}</code></pre>
    </div>
    <div class="pa3 bt flex items-center justify-between courier">
      <form action="{% url 'code_view' pk=snippet.pk %}" method='POST'>
        {% csrf_token %}
        {{ form.text|attr:"rows:3"|attr:"columns:30"|attr:"placeholder:Reply Here" }}
        <button type='submit'>Reply</button>
      </form>
    </div>
    {% for comment in comments %}
    <div class="pa3 bt flex items-center justify-between courier">
      <div class="fl w-25 flex justify-center">
        <p>{{ comment.user }}</p>
      </div>
      <div class="fl w-75">
        <p>{{ comment.created_at }}</p>
        <p>{{ comment.text }}</p>
      </div>
    </div>
    {% endfor %}
  </article>
</div>

{% endblock %}