{% extends "base.html" %}

{% block content %}
<article class="">
  <h1 class="sans-serif">
    Your friendly, neighborhood code-bank.
  </h1>
  <h2 class="sans-serif">
    Sign up for beta access or log in to your account.
  </h2>
</article>
<article class="center mw5 mw7-ns hidden ba mv4">
  <h1 class=" f4 bg-near-black white mw5 mv0 pv2 ph3 courier">Python</h1>
  <div class="pa3 bt">
    <p class="f6 f5-ns lh-copy measure mv0 courier">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
      tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
      vero eos et accusam et justo duo dolores et ea rebum.
    </p>
  </div>
</article>
<article class="center mw5 mw7-ns hidden ba mv4">
  <h1 class="f4 bg-near-black white mw5 mv0 pv2 ph3 courier">CSS</h1>
  <div class="pa3 bt">
    <p class="f6 f5-ns lh-copy measure mv0 courier">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
      tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
      vero eos et accusam et justo duo dolores et ea rebum.
    </p>
  </div>
</article>
<article class="center mw5 mw7-ns hidden ba mv4">
  <h1 class="f4 bg-near-black white mw5 mv0 pv2 ph3 courier">JavaScript</h1>
  <div class="pa3 bt">
    <p class="f6 f5-ns lh-copy measure mv0 courier">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
      tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
      vero eos et accusam et justo duo dolores et ea rebum.
    </p>
  </div>
</article>
<article class="center mw5 mw7-ns hidden ba mv4">
  <h1 class="f4 bg-near-black white mw5 mv0 pv2 ph3 courier">JavaScript</h1>
  <div class="pa3 bt">
    <p class="f6 f5-ns lh-copy measure mv0 courier">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
      tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
      vero eos et accusam et justo duo dolores et ea rebum.
    </p>
  </div>
</article>
{% endblock %}