{% extends "base.html" %}

{% block content %}
<div class="mw9 center ph3-ns">
  <div class="cf ph2-ns">
    <div class="fl w-100 w-25-ns pa2 pt5">
      <label for="name" class="f6 b db mb2 sans-serif">Search Snips</label>
      <input id="name" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" aria-describedby="name-desc">
    </div>
    <div class="fl w-100 w-75-ns pa2 pl7">
      <h1 class="f2 f2-m f1-l fw2 black-90 mv3 sans-serif pr5 pt4">
        Saved Snips
      </h1>
    </div>
  </div>
</div>
{% for snippet in snippets %}
<div class="flex items-center justify-center">
  <a class="f6 link dim br3 ba bw2 ph3 pv2 mb2 dib hot-pink sans-serif" href="#0">Copy</a>
  <article class="mh2 hidden mv4 m0">
    <div class="flex">
      <h1 class=" f4 bg-near-black white mw5 mv0 pv2 ph3 courier"><a class="link dim light-grey" href="{% url 'filter_by_language' language=snippet.language %}">{{ snippet.language }}</a></h1>
      <h1 class=" f4 black mw5 mv0 pv2 ph3 sans-serif bt br bl">{{ snippet.title }}</h1>
    </div>
    <div class="pa3 ba">
      <pre class="f6 f5-ns lh-copy mv0 courier">{{ snippet.text }}</pre>
    </div>
  </article>
  <div class="flex flex-column">
    {% for tag in snippet.tags.all %}
    <a class="f6 link dim br1 ph3 pv2 mb2 dib white bg-hot-pink sans-serif fw6" href="{% url 'filter_by_tag' tag=tag.name %}">{{ tag }}</a>
    {% endfor %}
  </div>
</div>
{% endfor %}
{% endblock %}